<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Imports</title>
    <link rel="stylesheet" href="{% static 'css/imports/import_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>List of Registered Imports</h1>
        <table>
            <thead>
                <tr>
                    <th>Import Number</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for import in imports %}
                    <tr>
                        <td><a href="{% url 'import_detail' import.unique_number %}">{{ import.unique_number }}</a></td>
                        <td>{{ import.name }}</td>
                        <td>{{ import.country }}</td>
                        <td>
                            <a href="{% url 'edit_import' import.unique_number %}" class="edit-button">Edit</a>
                            <form action="{% url 'delete_import' import.unique_number %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No imports registered yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="button-container">
            <a href="{% url 'register_import' %}" class="add-button">Register New Import</a>
        </div>
    </div>
</body>
</html>
