{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/authapp/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    <li><span>{{ user.username }} ({{ user.role }})</span></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" class="logout-form">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 L.K All rights reserved.</p>
    </footer>
</body>
</html>
